# ── VetBuddy Open API (Read) ──────────────────
VETBUDDY_APP_URL=http://allvet.thevetbuddy.com/vetbuddy
VETBUDDY_UID=apiallvet
VETBUDDY_PASSWD=8a2@bnc2!!

# ── VetBuddy Push API (Write) ─────────────────
VETBUDDY_PUSH_URL=http://allvet.thevetbuddy.com
VETBUDDY_INSTANCE=42383468DRWFHWSDAR128695
VETBUDDY_PUSH_KEY=49HJT390644RHCDGJ37495

# ── Server ────────────────────────────────────
PORT=3000
